/Practicas/Ejercicio1Repo/target/
/Practicas/Orientado a Objetos/Biblioteca/target/
/Practicas/Orientado a Objetos/Practica2OrientadoObjetos/EditorGrafico/target/
/Practicas/Orientado a Objetos/Practica2OrientadoObjetos/AgendaPatronesDisenno/target/
